:root {
  --dark-yellow: #ffcf0d;
}

.space {
  height: 200px;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul,
li {
  list-style: none;
}

/*//? DETAILS ----------------- */

.black-background {
  height: 100vh;
  width: 100%;
  position: absolute;
}

/*//? NAVBAR ------------------ */

.navbar {
  height: 60px;
  background-color: rgba(33, 37, 41, 0.9) !important;
}

.genshin-logo {
  height: 50px;
  margin: 0;
  padding: 0;
}

/*//? CHARACTER PAGE ---------- */

.character-page {
  height: 100vh;
  background-image: url('./assets/Backgrounds/Monstadt-1.jpg');
  background-position: center;
  background-size: cover;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}

.fade-in {
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/*//? LOCATION SIDEBAR -------- */

.location-sidebar::before {
  position: absolute;
  content: '';
  display: block;
  height: 93.5vh;
  width: 2px;
  background: rgba(255, 255, 255, 0.14);
  box-sizing: border-box;
}

.location-sidebar {
  height: 100%;
}

.location--active {
  background-image: url('./assets/Other/Location-active.png');
}

.location {
  height: 60px;
  font-size: 22px;
  margin-left: 19.5px;
  background: 18px center no-repeat;
  background-image: url('./asset/Other/Location.png');
  background-size: 40px;
  color: #fff;
  box-sizing: border-box;
}

/*//? CHARACTER SLIDER -------- */

.character-slider {
  position: absolute;
  z-index: 9;
  bottom: 0;
  padding-top: 22px;
  height: 190px;
  background: rgba(204, 204, 204, 0.2);
}

/* .character-slider::after {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: calc(50% - 79vh);
  display: block;
  content: '';
  width: 154vh;
  height: 52vh;
  background-size: 154vh 52vh;
  background: url('./assets/Other/light.f43c391.png') center no-repeat;
} */

.slider-button {
  background: none;
  border: none;
}

.character-card {
  background: linear-gradient(
    rgba(28, 28, 28, 0.4) 40%,
    rgba(158, 158, 158, 0.5)
  );
}

.character-name {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  color: #fff;
  border-radius: 0 0 5px 5px;
}

.character-card:hover {
  background: linear-gradient(rgb(28, 28, 28) 40%, rgb(158, 158, 158));
  border: 2px solid #fff;
  .character-name {
    background-color: #fff;
    margin: 0;
    color: #000;
    border-radius: 0 0 5px 5px;
  }
}

/*//? ANIMATION KEYFRAMES ----- */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
