:root {
  --dark-yellow: #ffcf0d;
  --light-brown: #cca574;
}

.noto-serif {
  font-family: "Noto Serif Telugu", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.space {
  height: 200px;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

/*//? DETAILS ----------------- */

.black-background {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
}

/*//? SCROLL BAR -------------- */

/* Stile generale della barra di scorrimento */
::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  right: 10px;
}
/* Stile del pollice della barra di scorrimento */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 25px;
  border: solid 4px transparent;
}

/*//? NAVBAR ------------------ */

.navbar {
  height: 60px;
  background-color: rgba(33, 37, 41, 0.9) !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.genshin-logo {
  height: 50px;
  margin: 0;
  padding: 0;
}

/*//? CHARACTER PAGE ---------- */

.character-page {
  height: 100vh;
  background-image: url("./assets/backgrounds/Monstadt-1.jpg");
  background-position: center;
  background-size: cover;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}

.fade-in {
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/*//? LOCATION SIDEBAR -------- */

.location-sidebar::before {
  position: absolute;
  content: "";
  display: block;
  height: 100vh;
  margin-top: -60px;
  margin-left: 33.5px;
  width: 2px;
  background: rgba(255, 255, 255, 0.14);
  box-sizing: border-box;
}

.location-sidebar {
  height: 100%;
  padding-left: 0;
}

.location {
  width: 100%;
  height: 54px;
  line-height: 54px;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding-left: 56px;
  background: 15px center no-repeat;
  background-size: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url("./assets/other/Location.png");
}

.location--active {
  background: -3px center no-repeat;
  background-image: url("./assets/other/Location-active.png");
  background-size: auto;
  padding-left: 70px;
}

/*//? CHARACTER INFO ---------- */

/* Name */
.info-div::before {
  content: "";
  background: #fed8a9;
  height: 4px;
  width: 200px;
  display: block;
  margin-top: 60px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.element-logo {
  margin-top: -15vh;
}

.character-name {
  font-size: 70px;
  position: relative;
  z-index: 20;
}

/* VA */
.va-info-row {
  padding-left: 12px;
}

.va-info {
  background-color: var(--light-brown);
  position: relative;
  z-index: 20;
}

.va-name {
  padding-bottom: 2px;
}

/* Toggle JP-EN */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 37px;
  z-index: 20;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(158, 158, 158, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "JP";
  display: flex;
  justify-content: center;
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: var(--light-brown);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* input:checked + .slider {
  background-color: #2196F3;
} */

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
} */

input:checked + .slider:before {
  content: "EN";
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(43px);
  transform: translateX(43px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Infobox */
.infobox {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 495px;
  max-height: 146px;
  position: relative;
  z-index: 100;
}

.infobox::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-top: 5px;
  background-size: 20px;
  background: url("./assets/other/Text-before.png");
  position: absolute;
}

.infobox-inside {
  max-height: 130px;
  width: 470px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 0;
  padding-left: 36px;
}

.info-text {
  font-size: 18px;
  width: 95%;
}

.character-fullart {
  height: 100vh;
  margin-top: -60px;
  z-index: 7;
  position: absolute;
}

/*//? CHARACTER SLIDER -------- */

.character-slider {
  position: absolute;
  z-index: 20;
  bottom: 0;
  padding-top: 22px;
  height: 190px;
  background: rgba(204, 204, 204, 0.2);
}

.character-slide::after {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: calc(50% - 79vh);
  display: block;
  content: "";
  width: 155vh;
  height: 52vh;
  background-size: 155vh 52vh;
  background: url("./assets/other/light.f43c391.png") center no-repeat;
}

.slider-button {
  background: none;
  border: none;
}

.character-card {
  background: linear-gradient(
    rgba(28, 28, 28, 0.4) 40%,
    rgba(158, 158, 158, 0.5)
  );
  width: 110px;
}

.character-card-name {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  color: #fff;
  border-radius: 0 0 5px 5px;
  width: 110px;
}

.border-card {
  border: 2px solid #ffffff00;
}

.character-card:hover {
  background: linear-gradient(rgb(28, 28, 28) 40%, rgb(158, 158, 158));
  width: 110px;
  .border-card {
    border: 2px solid #fff;
  }
  .character-card-name {
    background-color: #fff;
    margin: 0;
    color: #000;
    border-radius: 0 0 5px 5px;
  }
  
}

/*//? ANIMATION KEYFRAMES ----- */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
